body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content{
    margin: auto;
}

.blocks {
    display: block;
}

/* Remove arrows from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Credit card types */
