body{
    font-family: Gemunu Libre, serif;
    color:rgb(49, 47, 47);
}

#content{
    display: block;
}
/*card representation styles */
#card-box{
    box-shadow: 1px 2px gray;
    margin: auto;
    border-radius: 10px;
    width: 385px;
    min-height: 235px;
    background: rgba(255, 255, 255, 0.5) url('https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/2.jpeg');
    background-blend-mode: lighten;
    overflow: hidden;
}


img{
    height: 45px;
}

.wrapper {
    margin: 30px 25px;
}

.full-width{
    width: 100%;
    clear:both;
}

.bottom-space{
    padding-bottom: 30px;
}

.flex{
    display:flex;
}

.hidden-on-load{
    display: none;
}

#card-number{
    font-size: x-large;
    font-weight: bold;
    text-shadow: 1px 1px rgba(255, 254, 254, 0.301);
}

#card-number span{
    margin-right: 3px;
}

.space{
    width: 15px;
}

.card-label-title{
    font-size: 15px;
    letter-spacing: 1.5px;
    color:rgb(70, 67, 67);
}

.card-item{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(255, 254, 254, 0.301);
}

#card-magnetic-band{
    height: 40px;
    margin: 20px 0;
    background-color:rgba(0, 0, 0, 0.7);
}

.cvv-item{
    max-width: 335px;
    text-align: right;
    padding: 5px 15px 3px 0;
}

#signature-panel{
    height: 50px;
    background-color:rgba(255, 255, 255, 0.7);
}

/*card form styles */
#card-form{
    margin: 10px auto;
    width: 380px;
    padding: 20px;
    background-color: rgba(165, 55, 115, 0.15);
}

label{
    font-size: 16px;
    letter-spacing: 1.5px;
}

.full-form-width{
    width: 97%;
    clear:both;
}

input{
    height: 30px;
    padding: 3px;
    font-size: 16px;
}

select{
    height: 40px;
    padding: 5px;
    min-width: 130px;
    font-size: 16px;
}

.form-line{
    width: 100%;
}

.form-line label{
    padding: 12px 2px 5px;
}

#cvv-input{
    width: 80px;
}



